.portfolio {
    margin-top: 20px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.project {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    display: block;
    color: #333;
}